html
    -webkit-font-smoothing: antialiased
    -moz-osx-font-smoothing: grayscale
    font-size: 16px
    font-family: 'Source Sans Pro', sans-serif

a
    cursor: pointer
    color: inherit
    text-decoration: underlined
    &:hover
        text-decoration: none
