.content-shows-wrapper
    font-size: 1rem
    flex: 1
    //display: flex 
    // flex-direction: column 
    height: 100vh
    overflow-y: auto 
    overflow-x: hidden

    .content-show-slides
        display: flex
        flex-direction: row 
        height: 73vh
        overflow: auto
        img
            margin-right: .5em
            
    .content-show-info
        width: 35em

    