.content-shows-wrapper
    font-size: 1rem
    flex: 1
    //display: flex 
    // flex-direction: column 
    height: 100vh
    overflow-y: auto 
    overflow-x: hidden

    .content-shows-slides
        display: flex
        flex-direction: row 
        height: 75vh
        overflow-y: hidden
        overflow-x: auto
        img
            margin-right: .5em
            &.last
                margin-right: 0

    .content-shows-details
        padding: 4*$goldPadU
        margin-bottom: 4*$goldPadU

    .content-shows-title
        @include swearCilati33

    .content-shows-venueCity
        @include grotesk15  
        margin-top: 1*$goldPadU

    .content-shows-info
        min-width: 43em
        width: 43em
        padding: 3*$goldPadU
        overflow-y: auto 

    .content-shows-infoTitle
        @include swearCilati22
    
    .content-shows-infoVenueCity, .content-shows-infoDates, .content-shows-infoCurator, .content-shows-infoAuthor, .content-shows-infoWorks, .content-shows-infoArtists, .lang-selector
        @include grotesk11

    .content-shows-infoDescription
        @include grotesk15

    .content-shows-infoVenueCity
        margin-top: 1*$goldPadU

    .content-shows-infoDescription, .content-shows-infoAuthor
        margin-top: 2*$goldPadU

    .content-shows-infoWorks
        margin-top: 3*$goldPadU

    .content-shows-infoAuthor
        text-align: right