.content-info 
    font-size: 1rem
    height: 100vh
    width: 100%
    overflow-y: auto 
    overflow-x: hidden
    display: flex
    flex-direction: column
    justify-content: space-between
    
    .content-info-wrapper
        padding: 3*$goldPadU
        display: flex 

        .content-info-column
            width: 50%  

        .content-info-section
            margin-bottom: 4*$goldPadU

        .content-info-sectionTitle
            @include swearCilati33

        .content-info-item
            margin-top: 1*$goldPadU

        .content-info-itemTitle
            // @include swear20
            @include swear17

        .content-info-itemDetails
            @include grotesk11

        .content-info-bioText, .content-info-email, .content-info-socialItem, .content-info-quote
            @include grotesk15

            
        .content-info-blurbDetails
            text-align: right
            margin-top: 1*$goldPadU
    
    .content-info-footer
        padding: 1.8rem
        display: flex
        align-items: center
        justify-content: space-between
        background-color: #f1f3f4
        @include grotesk11

        img
            height: 7vh
    
    .content-info-logoText
        @include grotesk8
        text-align: right
