.home-show
    position: fixed
    top: 0
    right: 0
    display: flex 
    justify-content: space-between
    // Probably establecer ancho de navbar fijo y evitar aquí el guessing
    width: calc(100vw - 4em)
    height: 100vh
    background: black
    >div
        width: 50%

.swiper
    width: 100%
    height: 100%

.swiper-slide
    img
        width: 100%
        height: 100%
        object-fit: cover