.navbar 
    font-size: 2em
    z-index: 10
    display: flex
    position: fixed
    flex-wrap: nowrap
    width: 100vh
    margin-top: 100vh
    transform: rotate(-90deg)
    transform-origin: top left
    background: white

    .navbar-item
        margin: 0.5em 1em
    .logo
        margin-right: auto
    a 
        text-decoration: none
