.navbar 
    position: fixed
    font-size: 2em
    z-index: 10
    display: flex
    align-items: center
    flex-wrap: nowrap
    width: 100vh
    height: 2em
    margin-top: 100vh
    transform: rotate(-90deg)
    transform-origin: top left
    background: white

    .navbar-item
        margin: 0em 1em
    .logo
        margin-right: auto
    .garden
        img
            width: 1.4em
            margin-top: 0.2em
            // transform: rotate(90deg)
    a 
        text-decoration: none
