.sidebar-works
    font-size: 1rem
    min-width: 30em
    width: 30em
    // width: calc(25vw-2.9vw) 
    padding: 3*$goldPadU
    a   
        text-decoration: none
    .sidebar-works-work
        @include swear17
        &:hover
            cursor: pointer
            @include swearCilati19        
    .sidebar-works-gap
        margin: 0.5em