.sidebar-works
    font-family: Swear Display Light
    font-size: 1rem
    min-width: 300px
    width: calc(25vw-2.9vw) 
    padding: 2em
    .sidebar-works-work
        font-size: 1.6em
    .sidebar-works-gap
        margin: 0.5em