.sidebar-info
    font-family: Swear Display Light
    font-size: 1rem
    min-width: 30em
    width: 30em
    // width: calc(25vw-2.9vw) 
    padding: 1.8em
    a   
        text-decoration: none
    
    .info-news-heading
        @include swearCilati33
    
    .info-news-title
        @include swear20
        line-height: 1
    
    .info-news-date, .info-news-venueCity
        @include grotesk11