// Font size gold value
$goldFontU: 0.85em

// Font size variables
@mixin swear20
    font-family: Swear Display Light
    font-size: 2*$goldFontU

@mixin swear17
    font-family: Swear Display Light
    font-size: 1.7*$goldFontU

@mixin swear18
    font-family: Swear Display Light
    font-size: 1.8*$goldFontU

@mixin swearCilati19
    font-family: Swear Display Light Cilati
    font-size: 1.9*$goldFontU

@mixin swearCilati22
    font-family: Swear Display Light Cilati
    font-size: 2.2*$goldFontU

@mixin swearCilati30
    font-family: Swear Display Light Cilati
    font-size: 3*$goldFontU

@mixin swearCilati33
    font-family: Swear Display Light Cilati
    font-size: 3.3*$goldFontU

@mixin grotesk11
    font-family: Aktiv Grotesk Corp Light
    font-size: 1.1*$goldFontU

@mixin grotesk15
    font-family: Aktiv Grotesk Corp Light
    font-size: 1.5*$goldFontU

@mixin grotesk8
    font-family: Aktiv Grotesk Corp Light
    font-size: 0.8*$goldFontU


// Paddings and margins gold value
$goldPadU: 7px